      <!-- footer -->
      <div class="container-fluid Nav mt-4">
        <p class="container p-5 fs-5 fw-4 text-center text-light">Fabrics continuously realized investments and expanded to a vertically fabrics manufacturer company, we are able to produce textiles according to the developments in the textile sector and simultaneously to remain competitive on global markets.</p>
        <div class="container">
          <div class="row">
            <div class="col-md-6">
          <p class="text-light fs-4"><i class="far fa-map-marker-alt"></i> LOCATION</p>
          <address class="text-light">
            Fabrics, 38, ABC Street, DEFG Road, Erode, Tamil Nadu, India - 638004.
          </address>
          <p class="text-light fs-4"><i class="fas fa-mobile-android"></i> Mobile</p>
          <p class="text-light">+91-99999-88888</p>
        </div>
        <div class="col-md-6">
          <p class="text-light fs-4"><i class="fal fa-globe"></i> Website</p>
          <p class="text-light">www.fabrics.in</p>
          <p class="text-light fs-4"><i class="far fa-envelope"></i> Mail</p>
          <p class="text-light">info@fabrics.in</p>
        </div>
        </div>
      </div>
       <div class="container fs-3">
         <div class="row">
           <div class="col">
       <a href="/"> <i class="fab fa-facebook text-light py-5"></i></a>
       </div>
       <div class="col">
        <a href="/"> <i class="fab fa-instagram text-light py-5"></i></a>
        </div>
        <div class="col">
       <a href="/"><i class="fab fa-telegram-plane text-light py-5"></i></a>
       </div>
       <div class="col">
       <a href="/"><i class="fab fa-youtube text-light py-5"></i></a>
       </div>
       </div>
       <hr>
       </div>
       <p class="text-light py-3 text-center fw-bold mb-0">Copyright &copy; Fabrics</p>
      </div>