<!-- Nav Bar -->
<nav class="navbar navbar-expand-lg navbar-dark Nav">
    <div class="container-fluid">
      <a class="navbar-brand ms-4 my-1" href="/"><img style="height: 20px;" src="/css/5847f3b2cef1014c0b5e4882.png" alt="logo"><strong class="fs-4 text-light logo" style="font-family: 'Akaya Telivigala', cursive;"><span>  </span>FABRICS</strong></a>
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item mx-4">
            <a class="nav-link" aria-current="page" href="/"><span class="fs-5">Home</span></a>
          </li>
          <li class="nav-item mx-4">
            <a class="nav-link " href="/about"><span class="fs-5">About</span></a>
          </li>
          <li class="nav-item mx-4">
            <a class="nav-link" href="/product"><span class="fs-5">Product</span></a>
          </li>
          <li class="nav-item mx-4">
            <a class="nav-link" href="/gallery"><span class="fs-5">Gallery</span></a>
          </li>
          <li class="nav-item mx-4">
            <a class="nav-link" href="/contact"><span class="fs-5">Contact</span></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>