<% layout('layout/boilerplate') %>
<%- include('preloader') -%>
<%- include('./partials/flash') %>
<link rel="stylesheet" href="css/about.css">  
      
      <!-- Welcome block -->
      <div class="welcomeBlock ">
        <h1 class="container text-center text-light pb-4 welnote animate__animated animate__zoomIn fs-1 fw-bolder ">A B O U T &nbsp; U S</h1>
    </div>    

    <!-- body -->
    <div class="container py-5 mb-4">
    <h2 class="container text-center pt-5 fs-1">ABOUT THE COMPANY</h2>
    <div class="container"><hr style="margin: 2% 25% 10%;"></div>
     <div class="container pb-5">
       <p class="fs-5">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam ducimus voluptatem voluptate, sint dolorem aperiam repudiandae illo fugit quam commodi. Assumenda consectetur sint quia tenetur at laboriosam molestiae commodi pariatur!
       Maxime hic dicta, quasi, iste fuga natus voluptas accusantium culpa nihil cumque itaque totam accusamus? Pariatur praesentium voluptatibus excepturi laboriosam, id sequi deleniti, quisquam ea nobis error, perferendis a ullam.
       Facilis labore rem natus ducimus quod, eos cum quis repellendus. A culpa aliquid quam quod voluptate eaque odit ad beatae, corporis enim quaerat perspiciatis quos error autem veritatis ex reprehenderit.
       Maiores accusamus, excepturi amet assumenda optio perspiciatis necessitatibus non magnam esse recusandae eius cumque, repellendus numquam? Ratione distinctio quidem tenetur, soluta non earum dolores eius, est molestiae, id obcaecati facere!
       Debitis suscipit unde aliquam vel voluptatem eveniet. </p>
     </div>
     <div class="container">
       <div class="row">
         <div class="col-lg-3 col-md-6 my-2 h" >
           <img src="https://www.qualittyfabrics.in/u/60831548660097/s/qualitty-fabrics-loom-1.jpg" width="100%" height="100%" alt="">
         </div>
         <div class="col-lg-3 col-md-6 my-2 h" >
          <img src="https://www.qualittyfabrics.in/u/60831548660097/s/qualitty-fabrics-loom-2.jpg"width="100%" height="100%" alt="">
        </div>
         <div class="col-lg-3 col-md-6 my-2 h">
           <img src="https://www.qualittyfabrics.in/u/60831548660097/s/qualitty-fabrics-loom-3.jpg"width="100%" height="100%" alt="">
         </div>
         <div class="col-lg-3 col-md-6 my-2 h">
           <img src="https://www.qualittyfabrics.in/u/60831548660097/s/qualitty-fabrics-loom-4.jpg" width="100%" height="100%" alt="">
         </div>
       </div>
     </div>
      <h3 class="py-4">Infrastructure</h3>
     <table class="table table-borderless table-striped table-hover fs-5 card ">
       <tr>
         <td>Sulzer Looms:</td>
         <td> 24 Nos – Equipped with 18 Shafts Electronically controlled Dobby.</td>
       </tr>
      <tr>
        <td>Airjet Looms:</td>
        <td>
          24 Nos – 360 CMS – All Looms Equipped with 12 Pick Insertion. Tuckin Selvedge available. 16 Shafts Electronically controlled Dobby.
         <br>
         Special features:
         <ul style="list-style-type:circle;">
           <li>Cramming Motion available in all Looms</li>
           <li>Carbon Heald Frame without center support ( to avoid CSM )</li>
           <li>Double Brake System ( to avoid Start / Stop Marks )</li>
         </ul>
        </td>
      </tr>
    </table>
    <h3 class="py-4">General Information:</h3>
     <table class="table table-borderless table-striped table-hover fs-5 card">
       <tr>
         <td>InHouse Operation:</td>
         <td> 
          Sulzer Looms – 24 nos and Airjet Looms – 24 nos ( Tuckin Selvedge Optional ).</td>
       </tr>
       <tr>
        <td>Shedding:</td>
        <td> 
          All Sulzer and Airjet equipped with Electronic Dobby. In Airjet - 12 Pick insertion possible.</td>
      </tr>
      <tr>
        <td>Vendor Operation:</td>
        <td> 
        Sulzer Looms – 120 nos and Airjet Looms – 40 nos.</td>
      </tr>
      <var> <tr>
        <td>Thread Counts:</td>
        <td> 
          100 Thread Count to 1200 Thread Count - Grey and Yarn Dyed Fabrics.</td>
      </tr>
      <tr>
        <td>Widths:</td>
        <td> 
          From 48” to 138” in Both Sulzer and Airjet Looms.</td>
      </tr>
      <tr>
        <td>Fabric Composition:</td>
        <td> 
          100% Cotton, CVC, Cotton / Slub, Cotton / Flex, Lycra, Tencel, Bamboo, Bamback, Weft Vat yarn dyed fabrics and Cotton / Polyester - Intimate Blend./td>
      </tr>
      <tr>
        <td>Count:</td>
        <td> 
          6s to 120s</td>
      </tr>
      <tr>
        <td>Weavables:</td>
        <td> 
          All type of weaves including Dobby and Jacquard designs.</td>
      </tr>
      <tr>
        <td>Our Special Products:</td>
        <td> 
          Cotton / Flex Fabrics ( Cotton 85% and Flex 15%, Cotton 70% and Flex 30%, Cotton 45% and Flex 55% - On Fabric ), Satin Band-Napkins, Bathrobes, 7/1 Satin and 400 TC - Percale.</td>
      </tr>
      <tr>
        <td>Production Capacity:</td>
        <td> 
          3 Lacs mtrs / month – In House and 4 Lacs mtrs / month - Vendor.</td>
      </tr>
    </var>
    
    </table>
    <h3 class="py-4">Striving for Excellence:</h3>
    <div class="card">
      <div class="card-body">
        <p class="card-text px-3 fs-5">Fabrics adopts updated monitoring systems to ensure the products meet the global standards and customer expectations.</p>
      </div>
    </div>
    <h3 class="py-4">Policy:</h3>
    <div class="card">
      <div class="card-body">
        <p class="card-text px-3 fs-5">Our Company policy includes reliable and effective service , in time production and delivery as well as with high flexibility.</p>
      </div>
    </div>
    </div>