<% layout('layout/boilerplate') %>
<%- include('preloader') -%>
<%- include('./partials/flash') %>
<link rel="stylesheet" href="css/home.css">

     <!-- Welcome block -->
     <div class="welcomeBlock ">
         <h1 class="text-center pb-2 welnote1" data-text="Fabrics" style="font-family: 'Akaya Telivigala', cursive;">FABRICS </h1> 
        <h1 class="container text-center  pb-5  animate__animated animate__zoomIn fs-2  fw-bolder welnote2 "  style="font-family: 'Varela Round', sans-serif;">Leading Textile Fabric Manufacturer</h1>
        <p class='typewriter fs-2 text-center pb-5'><span class="fs-2 fw-bold " style="font-family: 'Varela Round', sans-serif;">We'r creating</span><br>
          <span class='typewriter-text' data-text='[ "Carpets and rugs", "towels", "curtains and sheets","cord and twine" ]'></span>
          </p>
      <div class="container d-flex justify-content-center animate__animated animate__fadeInUp">
        <form action="/contact" method="get">
        <button class="btn btn-lg btn-info grad px-5 py-2 fw-bold btnContact" type="submit"><span  style="font-family: 'Varela Round', sans-serif;">Contact Us</span></button>
      </form>
      </div>
    </div>    

    <!-- body -->
    <div>
      <h2 class="container text-center pt-5 fs-1 fw-bold" style="font-family: 'Varela Round', sans-serif;" ><i class="fas fa-project-diagram"></i>&nbsp; Facts </h2>
      <div class="container "><hr style="margin: 2% 25% 10%;"></div>
      <div class="container text-center mb-4 pb-5">
          <div class="row d-flex justify-content-center counters ">
            <div class="col-sm-6 p-4">
              <i class="fab fa-cotton-bureau fs-1 fw-bold"></i><br>
              <span class="fs-1 fw-bold text-info counter" data-target="10000">0</span> <br> <span class="fs-5 fw-bold text-muted">tons of yarn/year</span> 
            </div>
            <div class="col-sm-6 p-4">
              <i class="fal fa-scarf fs-1 fw-bold"></i><br>
              <span class="fs-1 fw-bold text-info counter" data-target="9000">0</span><br><span class="fs-5 fw-bold text-muted"> tons of fabric/year</span> 
            </div>
            <div class="col-sm-6 p-4">
              <i class="fad fa-tshirt fs-1 fw-bold"></i><br>
              <span class="fs-1 fw-bold text-info counter" data-target="3000">0</span><br> <span class="fs-5 fw-bold text-muted"> pieces of knitted garments / day</span>
            </div>
            <div class="col-sm-6 p-4">
              <i class="fad fa-mitten fs-1 fw-bold"></i><br>
              <span class="fs-1 fw-bold text-info counter" data-target="4000">0</span> <br><span class="fs-5 fw-bold text-muted">pieces of woven garments / day</span>  
            </div>
            <div class="col-sm-6 p-4 ">
              <i class="far fa-user-friends fs-1 fw-bold"></i><br>
              <span class="fs-1 fw-bold text-info counter" data-target="2000">0</span><br> <span class="fs-5 fw-bold text-muted"> total number of employees</span>
            </div>
          </div>
      </div>
    </div>
    <div>
    <h2 class="container text-center pt-5 fs-2 fw-bold" style="font-family: 'Varela Round', sans-serif;">DISCOVER THE WORLD OF FABRICS</h2>
    <h5 class="container text-center text-muted pb-3 fs-5">Ensuring the global Standards and expectations</h5>
    <div class="container"><hr style="margin: 2% 25% 10%;"></div>
    <div class="container mb-4 pb-5 ">
        <div class="row reveal fade-bottom">
            <div class="col-xl-4 col-md-6 d-none fadeup">
              <div class="card mx-auto my-4  p-2" style="width: 20rem;">
                <div class="card-body">
                  <h5 class="card-title fs-4"><i class="fas fa-building"></i> COMPANY</h5>
                  <p class="card-text px-3 fs-5">20+ years of experience in fabric manufacturing and remain competitive in global markets</p>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-md-6 d-none fadedown">
              <div class="card mx-auto my-4 p-2" style="width: 20rem;">
                <div class="card-body">
                  <h5 class="card-title fs-4"><i class="fad fa-chart-network"></i> EXCELLENCE</h5>
                  <p class="card-text px-3 fs-5">Adopting monitoring systems to meet global standards and customer expectations</p>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-md-6 d-none fadeup">
              <div class="card mx-auto my-4 p-2" style="width: 20rem;">
                <div class="card-body">
                  <h5 class="card-title fs-4"><i class="fad fa-drafting-compass"></i> DESIGN</h5>
                  <p class="card-text px-3 fs-5">Knitted and Woven fabrics are designed and developed within our existing facilities.</p>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-md-6 d-none fadedown">
              <div class="card mx-auto my-4 p-2" style="width: 20rem;">
                <div class="card-body">
                  <h5 class="card-title fs-4"><i class="far fa-scarf"></i> CLOTH</h5>
                  <p class="card-text px-3 fs-5">100% Cotton, Polyester Blends, Linen Blends and other materials can be offered.</p>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-md-6 d-none fadeup">
              <div class="card mx-auto my-4 p-2" style="width: 20rem;">
                <div class="card-body">
                  <h5 class="card-title fs-4"><i class="fal fa-shipping-fast"></i> EXPORT</h5>
                  <p class="card-text px-3 fs-5">  We export our product to 49 different countries across the globe every year.</p>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-md-6 d-none fadedown">
              <div class="card mx-auto my-4 p-2" style="width: 20rem;">
                <div class="card-body">
                  <h5 class="card-title fs-4"><i class="far fa-bullseye-arrow"></i> EXCELLENCE</h5>
                  <p class="card-text px-3 fs-5">Adopting monitoring systems to meet global standards and customer expectations</p>
                </div>
              </div>
            </div>
        </div>
     </div>
     
    </div>
    
    <div>
      <h2 class="container text-center pt-5 fs-1 fw-bold" style="font-family: 'Varela Round', sans-serif;">FEEDBACK</h2>
      <div class="container "><hr style="margin: 2% 25% 10%;"></div>
      <div class="container mb-4 pb-5">
         <form action="/" method="post" class="needs-validation" novalidate>
           <div class="row">
             <div class="col-lg-8 col-md-12  offset-lg-2">
           <div class="mb-4 "> 
            <input type="email" class="form-control text-start border border-info border-4" id="exampleFormControlInput1" placeholder="Email" name="feed[mail]" required>
           </div>
          <div class="mb-4">
            <textarea class="form-control text-start border border-info border-4" id="exampleFormControlTextarea1" rows="5" placeholder="We all need people who will give us feedback. That’s how we improve." name="feed[feedback]" required></textarea>
          </div>
          <div class="d-flex justify-content-start d-none send">
          <button class="btn btn-primary btn-lg grad p-3 text-end  d-flex justify-content-end" style="border-radius: 50%;"><i class="fas fa-paper-plane"></i></button>
        </div> 
        </div>
        </div>
        </form>
      </div>
    </div>


    <script src="/js/counter.js"></script>
    <script src="js/RevealingText.js"></script>
    <script src="/js/validation.js"></script>