
/* Home page */
.welcomeBlock{
    background-image: url('https://images.unsplash.com/photo-1595981234058-a9302fb97229?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8cGhvdG8lMjBhbGJ1bXxlbnwwfDB8MHx8&auto=format&fit=crop&w=600&q=60');
    height:400px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/* home note */
.welnote{
    padding-top: 200px;
}

.h {
    overflow: hidden;
    
}

.h img {
    width: 100%;
    transition: .5s all ease-in-out;
}

.h:hover img {
    transform: scale(1.4);
}

.floatSetting{
    position:fixed;
    width:45px;
    height:45px;
    bottom:12px;
    right:20px;
    background-image: linear-gradient(to bottom right,#004e92, #000428);
    color:#FFF;
    border-radius:50px;
    text-align:center;
    z-index: 2;
    transition: all .1s linear;
    opacity: 20%;
  }

  .floatAddform{
    position:fixed;
    width:45px;
    height:45px;
    bottom:150px;
    right:20px;
    background-image: linear-gradient(to bottom right,#009266, #082800);
    color:#FFF;
    border-radius:50px;
    text-align:center;
    z-index: 2;
    transition: all .1s linear;
  }

